.movies-card-list {
	padding-top: 80px;
	padding-bottom: 62px;
	position: relative;
	box-sizing: border-box;
}

.movies-card-list::before
{
	content: "";
	position: absolute;
	top: 0;
	left: 30px;
	right: 30px;
	height: 1px;
	background-color: var(--dark-lines-color);
	box-sizing: border-box;
}

@media (max-width:480px)
{
	.movies-card-list::before
	{
		left:10px;
		right:10px;
	}
}

.movies-card-list__empty-text {
	display: none;
	font-size: 30px;
	color: var(--lightgray-text-color);
	text-align: center;
}

.movies-card-list__ul {
	margin: 0;
	padding: 0;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 20px;
	row-gap: 33px;
	list-style: none;
}


@media screen and (max-width: 768px) {
	.movies-card-list__ul {
		grid-template-columns: 1fr 1fr;
		row-gap: 34px;
		column-gap: 30px;
	}
}

@media screen and (max-width: 480px) {
	.movies-card-list__ul {
		grid-template-columns: 1fr;
		row-gap: 39px;
		row-gap: 18px;
	}
	.movies-card-list {
		padding-top: 50px;
	}
}
