.section-title {
  margin: 0;
  font-size: 21px;
  font-weight: var(--regular-fw);
}

.section-title__underline {
  margin: 24px 0 0;
  height: 1px;
  background-color: var(--light-lines-color);
}

@media screen and (max-width: 320px){
  .section-title {
    font-size: 17px;
  }

  .section-title__underline {
    margin-top: 29px;
  }
}
