.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__input {
  position: relative;
  width: 34px;
  height: 14px;
  background: #3ddc84;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.filter__input::after {
  content: '';
  position: absolute;
  right: 3px;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter__input:checked::after {
  transform: translateX(calc(50% - 20px));
  background-color: #a0a0a0;
}

.filter__input:checked {
  background-color: #343434;
}
