.techs {
	margin-top: 102px;
	background-color: var(--secondary-bg-color);
	padding: 100px 0;
}

.techs__header {
	color: #fff;
	font-family: Inter;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.88px;
	box-sizing: border-box;
	padding-bottom: 23px;
	width: 100%;
	border-bottom: 1px solid #dadada;
}

.techs__content-wrapper {
	margin: 0 auto;
	padding: 90px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.techs__title {
	margin: 0 0 26px;
	font-size: 46px;
	line-height: 1.26;
	font-weight: var(--regular-fw);
}

.techs__text {
	max-width: 500px;
	margin: 0 0 100px;
	font-size: 14px;
	line-height: 1.42;
	text-align: center;
}

.techs__nav-tab {
	gap: 10px;
}

.techs__button {
	width: 90px;
}

@media screen and (max-width: 800px) {
	.techs {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

@media screen and (max-width: 768px) {
	.techs__content-wrapper {
		padding-top: 80px;
	}

	.techs__title {
		margin-bottom: 19px;
		font-size: calc((100vw - 320px) / (768 - 320) * (46 - 30) + 30px);
		line-height: 1.3;
	}

	.techs__text {
		margin-bottom: 80px;
		max-width: 450px;
		letter-spacing: -0.04em;
	}
}

@media screen and (max-width: 320px) {
	.techs {
		padding-top: 56px;
		padding-bottom: 56px;
	}

	.techs__content-wrapper {
		padding-top: 58px;
	}

	.techs__title {
		margin-bottom: 25px;
		font-size: 29px;
		line-height: 1.27;
	}

	.techs__text {
		margin-bottom: 28px;
		font-size: 11px;
	}
}
